---
name: "Test"
on:
  pull_request:
  push:
jobs:
  pre-job:
    continue-on-error: true
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          concurrent_skipping: "same_content_newer"
          cancel_others: "true"
  test:
    runs-on: ubuntu-latest
    needs: pre-job
    permissions:
      contents: read
    if: needs.pre-job.outputs.should_skip != 'true'
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-nix
        with:
          cachixToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build Tests
        run: nix build .#cargo-tests -L -vv
      - name: Cargo Tests
        run: |
          nix develop \
            --print-build-logs \
            -v \
            --command result/bin/run-tests
